/* src/App.css
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-layout {
  display: flex;
  margin-top: 60px; /* Tạo khoảng cách dưới Navbar */
/* } */

/* .content-wrapper {
  margin-left: 200px; /* Đẩy content ra bên phải sidebar */
/* padding: 20px; */
/* width: calc(100% - 200px); Chiều rộng content trừ đi sidebar */
/* overflow-y: auto; Chỉ cuộn phần content */
/* height: calc(100vh - 60px); Chiều cao tính toán trừ đi navbar */
/* } */
